.setting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.setting-panel {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.radio-container label {
    margin-bottom: 10px;
}

.radio-container input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0DB7FC;
    border-radius: 50%;
    outline: none;
    margin-right: 8px;
}

.radio-container input[type="radio"]:checked {
    background-color: #0DB7FC;
}